header {
    padding: 10px;
    background-color: cadetblue;
    text-align: center;
    margin-bottom: 10px;
}

main {
    padding: 10px 120px;
    background-color: aliceblue;
    text-align: left;
    margin-top: 0;
}

footer {
    padding: 10px 20px;
    background-color: cadetblue;
    text-align: left;
}